fastapi
uvicorn[standard]
python-multipart
torch==2.3.1
torchaudio==2.3.1
whisperx
transformers
sentencepiece
accelerate
pydub
ffmpeg-python
indic-nlp-library
soundfile
numpy<2
setuptools<81
requests
python-dotenv
